/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #434343;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed black;
}

